#local {
            width: 160px;
            height: 120px;
        }

        #remote {
            width: 320px;
            height: 240px;
        }

        #local, #remote, #share, #caller-form {
            border: 1px solid grey;
        }

        #share {
            width: 100%;
            height: 640px;
            position: relative;
        }

        #caller-form {
            width: 640px;
            height: 480px;
        }

        #quality {
            height: 40px;
            width: 100px;
        }

        #quality.call-quality-good {
            background-color: green;
        }

        #quality.call-quality-moderate {
            background-color: yellow;
        }

        #quality.call-quality-poor {
            background-color: red;
        }
h3 {
    border-bottom: 1px solid #000;
    float: none;
    display: table;
    margin: 15px auto 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-bottom: 11px;
}
.annotation-control {
    text-align: center;
    margin: 15px 0px;
}
.assisted-session {
    text-align: center;
}
.mode {
    text-align: center;
}
button#end {
    margin: 0 auto;
    display: table;
    float: none;
}